* {
	margin: 0;
	padding: 0;
}

html,
body {
	position: fixed;
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	background-color: darkseagreen;
	/* background-image: url('plum.png'); */
	background-attachment: scroll;
	background-size: 75px;
	/* cursor: not-allowed; */
}

#simsTree {
	display: block;
	position: absolute;
	transform-origin: center;
	width: 20000px;
	height: 20000px;
	transform: translate(-50%, -50%);
	z-index: 9;
	cursor: move;
	border: 5px solid red;

	transition: transform 330ms ease-in-out;
	/* zoom: 15%; */
}

/* .root-node {
	transform: translate(5000px, 5000px);
} */

.node {
	position: absolute;
	display: flex;
	flex-direction: row;
	height: 90px;
	width: 300px;
	padding: 5px;
	background-color: white;

	> .node-portrait {
		max-width: 90px;
		width: 100%;
		height: 90px;
		margin-top: auto;
		margin-bottom: auto;
		background-size: contain;
		background-attachment: fit;
		background-image: url('portraits/0.png');
	}
	> .node-info {
		margin-left: 5px;
	}
}

/* #simsCanvas {
	display: block;
	background-color: darkseagreen;
} */

#tree > svg {
	background-color: #e3ffe3;
}

svg.sim .node.werewolf rect {
	fill: #fff9c2;
	stroke: #4a4a3a;
}
svg.sim .node.human rect {
	fill: #e3e3e3;
	stroke: #4a4a3a;
}
svg.sim .node.plantsim rect {
	fill: #97cf9f;
	stroke: #5c6e5e;
}
svg.sim .node.spellcaster rect {
	fill: #d7c2ff;
	stroke: #83778f;
}
svg.sim .node.vampire rect {
	fill: #e0e0e0;
	stroke: #747f8f;
}
svg.sim .node.mermaid rect {
	fill: #bfd7ff;
	stroke: #4a4a3a;
}
